/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Plex";
    font-weight: 300;
    src: url("../public/fonts/IBMPlexSans-Light.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Plex";
    font-weight: 400;
    src: url("../public/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Plex";
    font-weight: 600;
    src: url("../public/fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Plex Serif";
    font-weight: 400;
    src: url("../public/fonts/IBMPlexSerif-Regular.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Plex Serif";
    font-weight: 300;
    src: url("../public/fonts/IBMPlexSerif-Light.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Plex Serif";
    font-style: italic;
    font-weight: 300;
    src: url("../public/fonts/IBMPlexSerif-LightItalic.ttf") format("truetype");
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @apply font-serif;
  @apply leading-normal;
  @apply text-gray-800;
}

header {
  background-image: url("/img/background.jpg");
  background-size: cover;
}

@media (max-width: 800px) {
  header {
    background-position: 32%;
  }
}

.sr-only {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.footer-arrow {
  left: calc(50% - 1.25rem);
}

.contact-logo:focus {
  outline: none;
}

.contact-logo svg {
  fill: #f7a394;
}

.contact-logo:hover svg,
.contact-logo:focus svg {
  fill: #91d4cc;
}
